<footer>
  <div class="footer-nav">
    <div class="left-nav">
      <ul>
        <li><a><%= link_to 'HOME', '/' %></a></li>
        <li><a><%= link_to 'NEWS', '#' %></a></li>
        <li><a><%= link_to 'CONCEPT', '#' %></a></li>
      </ul>
      <ul>
        <li><a><%= link_to 'MENU', '#' %></a></li>
        <li><a><%= link_to 'HAIR STYLE', '#' %></a></li>
        <li><a><%= link_to 'STAFF', staffs_path %></a></li>
      </ul>
      <ul>
        <li><a><%= link_to 'BLOG', '#' %></a></li>
        <li><a><%= link_to 'ACCESS', '#' %></a></li>
        <li><a><%= link_to 'RESERVE', '#' %></a></li>
      </ul>
    </div>
    <div class="right-nav">
      <ul>
        <li><a><i class="fa-brands fa-twitter"></i><%= link_to 'Twitter', '#' %></a></li>
        <li><a><i class="fa-brands fa-facebook"></i><%= link_to 'facebook', '#' %></a></li>
        <li><a><i class="fa-brands fa-instagram"></i><%= link_to 'Instagram', '#' %></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <div>©︎2022 CHILLOUT HAIR & BEAUTY</div>
  </div>
</footer>