<header>
  <h1>CHILLOUT<br><span>HAIR & BEAUTY</span></h1>

  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to "#{current_user.nickname}さん", "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>

  <ul class="globalNavi">
    <li><a><%= link_to 'HOME', '/' %></a></li>
    <li><a><%= link_to 'NEWS', '#' %></a></li>
    <li><a><%= link_to 'CONCEPT', '#' %></a></li>
    <li><a><%= link_to 'MENU', '#' %></a></li>
    <li><a><%= link_to 'HAIR STYLE', '#' %></a></li>
    <li><a><%= link_to 'STAFF', '#' %></a></li>
    <li><a><%= link_to 'BLOG', '#' %></a></li>
    <li><a><%= link_to 'ACCESS', '#' %></a></li>
    <li><a><%= link_to 'RESERVE', '#' %></a></li>
  </ul>
</header>