<header>
  <h1>CHILLOUT<br><span>HAIR & BEAUTY</span></h1>

  <ul class="globalNavi">
    <li><a><%= link_to 'HOME', '#' %></a></li>
    <li><a><%= link_to 'NEWS', '#' %></a></li>
    <li><a><%= link_to 'CONCEPT', '#' %></a></li>
    <li><a><%= link_to 'MENU', '#' %></a></li>
    <li><a><%= link_to 'HAIR STYLE', '#' %></a></li>
    <li><a><%= link_to 'STAFF', '#' %></a></li>
    <li><a><%= link_to 'BLOG', '#' %></a></li>
    <li><a><%= link_to 'ACCESS', '#' %></a></li>
    <li><a><%= link_to 'RESERVE', '#' %></a></li>
  </ul>
</header>