<%= render 'shared/header' %>

<div class="contents row">
  <h2>Edit News</h2>
  <div class="container">
    <%= form_with model: @new, url: news_path(@new.id), id: 'edit_news', class: 'edit_news', local: true do |f| %>

      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>

      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>