<%= render 'shared/header' %>

<div class="contents row">
  <h2>Log in</h2>
  <div class="container">
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="sns-certification">
      <div class="facebook">
        <i class="fa-brands fa-facebook"></i><%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, method: :post%>
      </div>
      <div class="google">
        <i class="fa-brands fa-google"></i><%= link_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path, method: :post%>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>